<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Laptop</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style-detail.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="content">
      <div class="container-detail">
        <div class="wrap-left">
          <div class="item1">
            <img src="{{ laptop['img'] }}" alt="{{ laptop['nama'] }}" />
          </div>

          <div class="item2">
            <a href="/"><button>Kembali ke Beranda</button> </a>
          </div>
          {% if session.logged_in %}
          <div class="item3">
            <a href="{{ url_for('edit_laptop', id=laptop['id']) }}">
              <button class="laptop-edit">Edit Laptop</button>
            </a>
          </div>

          <div class="item4">
            <a href="{{ url_for('delete_laptop', id=laptop['id']) }}">
              <button class="laptop-delete">Hapus Laptop</button>
            </a>
          </div>
          {%endif%}
        </div>

        <div class="wrap-right">
          <h4>{{ laptop['nama'] }}</h4>
          <ul class="list-group">
            <div class="text-spec">
              <h5>Spesifikasi</h5>
            </div>

            <li class="list-group-item">Kategori: {{ laptop['kategori'] }}</li>
            <li class="list-group-item">
              Processor: {{ laptop['processor'] }}
            </li>
            <li class="list-group-item">RAM: {{ laptop['ram'] }} GB</li>
            <li class="list-group-item">Storage: {{ laptop['storage'] }} GB</li>
            <li class="list-group-item">Layar: {{ laptop['layar'] }}inch</li>
            <li class="list-group-item">Baterai: {{ laptop['baterai'] }} Wh</li>
            <li class="list-group-item">Harga: {{ laptop['harga']|rupiah }}</li>
          </ul>
        </div>
      </div>

      <hr class="line" />

      <div class="container-review">
        <h4>Review Desain</h4>
        <p>{{ laptop['review_design'] }}</p>
        <br />
        <h4>Keunggulan</h4>
        <p>{{ laptop['keunggulan'] }}</p>
      </div>
    </div>
  </body>
</html>
