{% extends "index.html" %} {% block content %}
<div class="filter-form">
  <form method="GET" action="/hasil_rekomendasi">
    <div class="form-group">
      <label
        >Masukkan bobot untuk setiap kriteria dibawah ini. Nilai bobot 1 sampai
        10, semakin tinggi nilai bobot semakin penting untuk pengguna.
        Diharapkan memberikan bobot sesuai yang dibutuhkan,berikan nilai rendah
        untuk kriteria yang tidak terlalu dianggap penting</label
      >
    </div>

    <div class="form-group">
      <label for="processor">Bobot untuk processor</label>
      <input
        type="number"
        name="processor"
        id="processor"
        class="form-control"
        placeholder="Masukkan nilai 1-10"
      />
    </div>

    <div class="form-group">
      <label for="processor">Bobot untuk RAM</label>
      <input
        type="number"
        name="ram"
        id="ram"
        class="form-control"
        placeholder="Masukkan nilai 1-10"
      />
    </div>

    <div class="form-group">
      <label for="processor">Bobot untuk Storage</label>
      <input
        type="number"
        name="storage"
        id="storage"
        class="form-control"
        placeholder="Masukkan nilai 1-10"
      />
    </div>

    <div class="form-group">
      <label for="processor">Bobot untuk Layar</label>
      <input
        type="number"
        name="layar"
        id="layar"
        class="form-control"
        placeholder="Masukkan nilai 1-10"
      />
    </div>

    <div class="form-group">
      <label for="processor">Bobot untuk Daya Tahan Baterai</label>
      <input
        type="number"
        name="baterai"
        id="baterai"
        class="form-control"
        placeholder="Masukkan nilai 1-10"
      />
    </div>

    <div class="form-group">
      <label for="processor">bobot untuk Harga</label>
      <input
        type="number"
        name="harga"
        id="harga"
        class="form-control"
        placeholder="Masukkan nilai 1-10"
      />
    </div>

    <div style="text-align: center">
      <button type="submit" class="btn btn-primary">Cari</button>
    </div>
  </form>
</div>

{% endblock %}
